doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="robots" content="index, follow")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/sticky-position.min.js')
  body
    main.container: block content
